In [5]:
import pandas as pd
import os
os.makedirs("outputs", exist_ok=True)

In [6]:
df = pd.read_csv("healthcare_dataset.csv")
df.to_csv("outputs/data_extraction.csv", index=False)
print("Data extracted successfully")
df.head()

Data extracted successfully

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [9]:
df = pd.read_csv("data_extraction.csv")
df["Medical_Condition_Text"] = df["Medical Condition"].astype(str)
df["Text_Length"] = df["Medical_Condition_Text"].apply(len)
df.to_csv("text_processing.csv", index=False)
print("Text processing completed")
df.head()

Text processing completed

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,Medical_Condition_Text,Text_Length
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,Cancer,6
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,Obesity,7
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,Obesity,7
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,Diabetes,8
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,Cancer,6

In [11]:
df = pd.read_csv("text_processing.csv")

df = df[
    [
        "Name",
        "Age",
        "Gender",
        "Blood Type",
        "Medical Condition",
        "Doctor",
        "Hospital",
        "Text_Length"
    ]
]

df.to_csv("parameter_identification.csv", index=False)

print("Key parameters identified")
df.head()

Key parameters identified

,Name,Age,Gender,Blood Type,Medical Condition,Doctor,Hospital,Text_Length
0,Bobby JacksOn,30,Male,B-,Cancer,Matthew Smith,Sons and Miller,6
1,LesLie TErRy,62,Male,A+,Obesity,Samantha Davies,Kim Inc,7
2,DaNnY sMitH,76,Female,A-,Obesity,Tiffany Mitchell,Cook PLC,7
3,andrEw waTtS,28,Female,O+,Diabetes,Kevin Wells,"Hernandez Rogers and Vang,",8
4,adrIENNE bEll,43,Female,AB+,Cancer,Kathleen Hanna,White-White,6

In [12]:
df = pd.read_csv("parameter_identification.csv")
df.drop_duplicates(inplace=True)
df.fillna("Unknown", inplace=True)
df.to_csv("data_validation.csv", index=False)
print("Data validation completed")
df.head()

Data validation completed

,Name,Age,Gender,Blood Type,Medical Condition,Doctor,Hospital,Text_Length
0,Bobby JacksOn,30,Male,B-,Cancer,Matthew Smith,Sons and Miller,6
1,LesLie TErRy,62,Male,A+,Obesity,Samantha Davies,Kim Inc,7
2,DaNnY sMitH,76,Female,A-,Obesity,Tiffany Mitchell,Cook PLC,7
3,andrEw waTtS,28,Female,O+,Diabetes,Kevin Wells,"Hernandez Rogers and Vang,",8
4,adrIENNE bEll,43,Female,AB+,Cancer,Kathleen Hanna,White-White,6

In [13]:
df = pd.read_csv("data_validation.csv")
df["Age"] = pd.to_numeric(df["Age"], errors="coerce").fillna(0).astype(int)
df["Gender"] = df["Gender"].str.capitalize()
df.to_csv("data_standardization.csv", index=False)
print("Data standardization completed")
df.head()

Data standardization completed

,Name,Age,Gender,Blood Type,Medical Condition,Doctor,Hospital,Text_Length
0,Bobby JacksOn,30,Male,B-,Cancer,Matthew Smith,Sons and Miller,6
1,LesLie TErRy,62,Male,A+,Obesity,Samantha Davies,Kim Inc,7
2,DaNnY sMitH,76,Female,A-,Obesity,Tiffany Mitchell,Cook PLC,7
3,andrEw waTtS,28,Female,O+,Diabetes,Kevin Wells,"Hernandez Rogers and Vang,",8
4,adrIENNE bEll,43,Female,AB+,Cancer,Kathleen Hanna,White-White,6